# CoinGecko
COINGECKO_API_KEY=your_api_key_here

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Spark / S3A
SPARK_S3A_ENDPOINT=http://minio:9000
SPARK_S3A_PATH_STYLE_ACCESS=true

# Airflow
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here